/*
* @Author: Marte
* @Date:   2017-05-27 15:24:21
* @Last Modified by:   Marte
* @Last Modified time: 2017-06-12 16:14:06
*/
*{padding-bottom: 0px;margin-right: 0px;}
body{font:14px/24px "宋体";color: #333;}
ul{list-style: none;padding: 0px;}
a{text-decoration: none;color: #333;}
.clear{clear: both;}
.logo{width: 1000px;margin: 0px auto;}
.logo img{width: 80px;height: 67px;float: left;margin-left: 10px;}
.menu{width: 100%;height: 40px;background-color:#008800;}
.menu ul{width: 1000px;margin: 0px auto;}
.menu ul li{float: left;width: 100px;line-height: 40px;}
.menu a{font-size: 18px;font-family: "微软雅黑";color: #fff;font-weight: bold;}
.menu a:hover{color: #000;font-weight: bold;}
.form{float: right;width: 420px;height: 55px;margin-top: 10px;margin-right: 10px;}
.kuan input{ width:320px; height:32px;float: left;border-radius: 4px;border:1px solid #008800;}
.an input{ width:60px; height:37px; float: left;background:#008800;border-radius: 4px;border:1px solid #008800;
    color: #fff;}
.banner,.banner img{width: 100%;height: auto;margin: 0px auto;}
.main{width: 1000px;margin: 0px auto;}
.m_left{width: 248px;height: 298px;float: left;margin: 0px auto;}
.div .m_right{width: 748px;height: 298px;float: right;}
h1{font-size: 20px;margin: 8px;background:#008800;color: #fff;border-radius: 4px;}

.m_right p{font:16px "黑体";color: #333;margin: 2px;text-indent: 4em;}

.m_right span{font-weight: bold;color: #00f;}
.list{width: 1000px;margin: 0px auto;}
.list_img1{width: 230px;height: 250px;float: left;margin: 10px;}
.list_img2{width: 230px;height: 350px;float: left;margin: 10px;}
.list_img1 h3{font-size: 18px;margin: 2px;background:#008800;color: #fff;border-radius: 4px;}
.div .list_img1 img{float: left;margin: 4px;}
.list_img1 p{margin-left: 6px;margin-top: 4px;}